.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    display: inline-block;
    background-image: url(./Menu.svg);
    background-repeat: no-repeat;
}


.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
      
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: white;
}

.lista-menu__titulo {
    color:rgb(0, 0, 0);
    font-weight: 700;
}

.lista-menu__link {
    color: black;
    text-decoration: none;
}

.container__botao {
    display: none;
}