* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    background-color: #424E61;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem {
    width: 10%;
}

.cabecalho-lista-item {
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}
.cabecalho-lista a {
text-decoration: none;
color: white;
}

.escola-imagem {
    width: 20%;
}

#textos {
    background-image: linear-gradient( #424E61,#4ebfe9);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}


.escola-div-conteudo {
    width: 35%;
}

.escola-titulo {
    padding: 24px 0;
}


.estudante-imagem {
    width: 200px;
}

.estudante-imagem2{
    width: 150px;
}

.estudante-imagem3{
    width: 250px;
}

.estudante-imagem4{
    width: 200px;
}

.estudante-imagem5{
    width: 150px;
}


.estudante-div{
    text-align: center;
}

.estudante-titulo{
    text-align: center;
    padding: 50px;
}


.estudante-todos{
    display:grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}


.texto-foto{
    padding: 10px;
}

.rodape{
    background-color: #424E61;
    text-align: center;
}

.rodape-imagem{
    height: 80px;
    padding: 15px;
    
}

.escla-texto-dois{
    padding: 10px 0px 0px 0px;
}
.cabeçalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabeçalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}


.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: white;
}

.lista-menu__titulo {
    color:white;
    font-weight: 700;
}

.lista-menu__link {
        -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao {
    display: none;
}